* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#camera {
  display: none;
}

.container {
  display: flex;
  align-items: flex-start;
}

#render {
  width: 640px;
  height: 360px;
  display; block;
}

.reference-container {
  position: relative;
}

#reference {
  width: 640px;
  position: relative;
}

#reference-dot {
  position: absolute;
  background: cyan;
  width: 6px;
  height: 6px;
}
